<launch>
    <!-- Alter parameters as per the need -->
    <param name="~min_distance" value="0.5" />
    <param name="~forward_speed" value="0.2" />
    <param name="~turn_speed" value="0.5" />

    <node name="obstacle_detection_avoidance_node" pkg="obstacle_detection_avoidance" type="obstacle_detection_avoidance_node.py" output="screen" />
</launch>