<launch>
    <!-- Load the robot description from URDF -->
    <param name="robot_description" command="cat $(find robot_simulation)/urdf/rover.urdf" />

    <!-- Launch Gazebo with the empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Spawn the robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rover"  output="screen" />

    <!-- Load the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Launch the joint state publisher GUI -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
</launch>